<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
  <link rel="stylesheet" href="css/homeStyle.css">
</head>
<body>
  <form action="/search" method="POST">
    <input type="text" name="term" placeholder="What are you in a mood for?">
    <input type="submit" value="Search">
  </form>

  <% results.forEach(result => { %>
    <div class="business">
      <h3><%= result.name %></h3>
      <img src="<%= result.image_url %>" alt="">
      <p>Address: <%= result.location.cross_streets %></p>
      <p>Rating: <%= result.rating %></p>
      <p>Reviews: <%= result.review_count %></p>
      <p>Phone: <%= result.phone %></p>
    </div>
    <% }) %>

</body>
</html>
