<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
  <link rel="stylesheet" href="/css/homeStyle.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/homeScript.js"></script>
</head>
<body>

  <form action="/search" method="POST">
    <input type="text" name="term" placeholder="What are you in a mood for?">
    <input type="text" name="location" placeholder="Location">
    <input type="submit" value="Search">
  </form>

  <div id="map"></div>

  <div class="search-results">
    <% results.forEach(result => { %>
      <div class="business">
        <h3><%= result.name %></h3>
        <img src="<%= result.image_url %>" alt="">
        <p>Address: <%= result.location.cross_streets %></p>
        <p>Rating: <%= result.rating %></p>
        <p>Reviews: <%= result.review_count %></p>
        <p>Phone: <%= result.phone %></p>
        <form action="/favorites" method="POST">
          <input type="hidden" name="favorite[name]" value="<%= result.name %>">
          <input type="hidden" name="favorite[img]" value="<%= result.image_url %>">
          <input type="submit" name="name", value="Save">
        </form>
      </div>
      <% }) %>
  </div>
  <div class="fav">
    <% fav.forEach(result => { %>
      <h3><%= result.name %></h3>
      <img src="<%= result.img %>" alt="">
      <form action="/favorites/<%= result._id %>?_method=DELETE" method="POST">
        <input type="submit" name="name" value="Remove">
      </form>
    <% }) %>
  </div>

</body>
</html>
