<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Map</title>
  <link rel="stylesheet" href="/css/mapStyle.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
  <form action="/search" method="POST">
    <input type="text" name="term" placeholder="What are you in a mood for?">
    <input type="text" name="location" placeholder="Location">
    <input type="submit" value="Search">
  </form>

  <!-- yelp results -->
  <input id="result-1" type="hidden" value="<%= latlngArray[0] %>">
  <input id="result-2" type="hidden" value="<%= latlngArray[1] %>">
  <input id="result-3" type="hidden" value="<%= latlngArray[2] %>">

  <input id="result-1-name" type="hidden" value="<%= results[0].name %>">
  <input id="result-1-addr" type="hidden" value="<%= results[0].location.address %>">
  <input id="result-2-name" type="hidden" value="<%= results[1].name %>">
  <input id="result-2-addr" type="hidden" value="<%= results[1].location.address %>">
  <input id="result-3-name" type="hidden" value="<%= results[2].name %>">
  <input id="result-3-addr" type="hidden" value="<%= results[2].location.address %>">



  <div class="search-results">
    <% results.forEach(element => { %>
      <div>
        <img src="" alt="businenss-img">
      </div>
    <% }) %>
  </div>


  <div id="map"></div>

  <script type="text/javascript" src="/js/mapScript.js"></script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= GOOGLE_MAP_API_KEY %>&callback=initMap">
  </script>
</body>
</html>
